<!DOCTYPE html>

<head>
  <title>Supplementary Material</title>
  <style>
    a {
      font-family:times;
      font-size:20px;
      padding:30px
    }
  </style>
</head>

<body>
  <nav>
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
  <a href="./aug2026" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
    Aug 2026
  </a>
  </nav>
  
  <h1>Supplementary Material</h1>
  <h4>Navigate</h4>
  <ul>
    <li> <a href='./aug2026'> Aug 2026 </a> </li>
  </ul>
</body>
