h1 {
  margin:20px;
  text-align:center;
  background-color:#34C0E4;
  padding:30px;
  font-size:40px;
  font-family:'Arial';
  font-style:normal;
  font-weight:200;
}

h2 {
  margin:20px;
  text-align:center;
  background-color:#34C0E466;
  padding:20px;
  font-size:20px;
  font-family:'Arial';
  font-weight:200;
}

h3 {
  margin:20px;
  text-align:left;
  background-color:#34C0E4;
  padding:10px;
  font-size:25px;
  font-family:'Arial';
  font-style:normal;
  font-weight:200;
}

#li1 {
  padding-top:5px;
  padding-bottom:5px;
}

#a1 {
  padding-left:5px;
  font-size:20px;
  color:blue;
}

#li1:hover {
  background-color:#B9D8FF;
}

#a2 {
  padding-left:10px;
  padding-right:10px;
  color:#0B290E;
}

#a2:hover {
  background-color:#0B290E33;
}

#nav1 {
  margin:20px;
  padding:5px;
  font-family:'Arial';
  font-size:20px;
  background-color:#32B940;
}

#nav2 {
  margin:20px;
  padding:5px;
  font-family:'Arial';
  font-size:20px;
  background-color:#32B94099;
}

#ulnavbar {
  list-style-type:none;
  margin:20px;
  padding:5px; 
  width:12%;
  background-color:#E9E9E9; 
  float:left;
}

#anav {
  display:block;
  color:black;
  font-size:15px;
  padding-top:5px;
  padding-bottom:5px;
}

#anav:hover {
  background-color:#4D4D4D;
  color:#FFFFFF;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}




























