<ul id='ulnavbar'>
  <li>
    <a id='anav' style='color:black;' href={{ '/aug2026/model2/b_run0_1.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run0_1.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 0, early phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run0_2.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run0_2.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 0, late phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run1_1.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run1_1.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 1, early phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run1_2.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run1_2.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>  
      Iteration 1, late phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run2_1.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run2_1.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 2, early phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run2_2.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run2_2.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 2, late phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run3_1.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run3_1.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 3, early phase
    </a>
  </li>
  
  <li>
    <a id='anav' href={{ '/aug2026/model2/b_run3_2.html' | relative_url }}
    {% if page.url=={{ '/aug2026/model2/b_run3_2.html' | relative_url }} %}style='color:#3037F2;'{% endif %}>
      Iteration 3, late phase
    </a>
  </li>
</ul>
