---
layout: default
title: Model 2
---

<!DOCTYPE html>

<h3>Supplementary Material</h3>

{% include navigate1.html %}
{% include navigate2.html %}
{% include navigate3.html %}

<h2 style='font-size:30px; weight:400; background-color:white; text-align:left; padding-bottom:5px;'>
Iteration 3: early phase (9.0 - 36.0 yrs)</h2>

<video controls width='80%' style='margin-left:4%; margin-right:4%;'>
  <source src='b_run3_1.mp4' type='video/mp4'>
  Your browser does not support this video format.
</video>
